
<div class="createOperationsExpense">
    <section class="content container">
        <div class="content-header">
            <h1 class="text-primary-emphasis mb-4">Создание расхода</h1>
        </div>
        <div class="update d-flex flex-column">
            <select disabled placeholder="Тип..." id="input-expense-type" class="type-select p-2 ps-3 mb-2" aria-label="Default select example">
                <option value="expense">Расход</option>
                <option value="income">Доход</option>
            </select>
            <select id="input-expense-category" placeholder="Категория..." class="category-select p-2 ps-3 mb-2" aria-label="Default select example">
            </select>
            <input type="number" class="sum p-2 ps-3 mb-2" placeholder="Сумма в $..." id="input-expense-sum"  >
            <input type="date" class="sum p-2 ps-3 mb-2" placeholder="Дата..." id="input-expense-date" >
            <input type="text" class="sum p-2 ps-3 mb-3" placeholder="Комментарий..." id="input-expense-message" >
        </div>
        <button type="button" class="btn btn-success" id="createExpenseButton">Сохранить</button>
        <button type="button" class="btn btn-danger" id="cancelExpenseButton">Отмена</button>
    </section>
</div>